@font-face {
    font-family: "thaisans";
    src: url('./font/thaisanslite_r1.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "thaisans"; */
    font-family: 'Prompt', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
  }

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #00000015;
    border-radius: 10px;
    margin: 82px 0 50px;
}
  /* Handle */
body::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53); 
    border-radius: 10px;
    margin: 10px;
  }
  
  /* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #202020; 
}

.contianer{
    height: 90vh ;
}

.contianer h1 {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    /* margin-bottom: 10px; */
}

.contian{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.2em 6em;
    width: 100%;
    
}
.logo {
  background-image: url('../img/icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

h1 input {
    border: none;
    font-size: 3rem;
    text-align: center;
    /* margin: 0; */
}

h1 input:focus {
    border: none;
}

h1 input:focus:hover {
    border: none;
}

.by{
    text-align: center;
    font-size: 1rem;
}

.by input {
    border: none;
    color: rgb(255, 19, 117);
    font-size: 1.5rem;
    text-align: center;
}

.box{
  background-color: whitesmoke;
  box-shadow: 3px 3px 10px 0px grey;
  width: 80%;
  margin-bottom: 20px;
  padding: 1em 1em;
  border-radius: 10px;
  height: auto;
}

.box2 {
  display: flex !important;
  justify-content: space-between;
  font-size: 1rem;
}

.box .box2 span{
    font-size: 1rem ;
}

.box p{
  font-size: 1.5rem;
}

.box form{
  padding: 1em 1em;
}

.box2 p {
  font-size: 1.2rem;
}

textarea{
  font-size: 1rem;
  /* font-family: 'Prompt', sans-serif; */
  font-family: sans-serif;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  outline: none;
  padding: 2%;
  margin: 0px 0;
  border-radius: 5px;
  border: none;
}

.titleF{
  font-size: 1.5rem;
  color: rgb(248, 26, 93);
}

.fa-heart{
  color: rgb(248, 26, 93);
}

.fa-clock{
  color: rgb(248, 26, 93);
}

@media (max-width:1024px){
    .logo a,.dropbtn {
        font-size: 24px;
    }

    .contianer {
        /* padding: 1.2em 4em; */
        width: 100%;
    }

    .box{
      background-color: whitesmoke;
      box-shadow: 3px 3px 15px 0px rgb(177, 177, 177);
      width: 100%;
      margin-bottom: 10px;
      /* padding: 1.2em 2.4em; */
      border-radius: 10px;
    }
    
    /* .box h2 {
      font-size: 54px;
      font-weight: 500;
      color: rgb(255, 19, 117);
    } */
    
    /* .box p{
      font-size: 28px;
    }
    
    .box form{
      padding: 1.2em 2.4em;
    }
    
    .box textarea{
      font-size: 28px;
      
      width: 100%;
      outline: none;
      padding: 10px 5px;
      margin: 20px 0;
      border-radius: 5px;
      border: 2px solid rgb(177, 177, 177);
    } */
    

}

@media (max-width:768px){
  .contianer {
    padding: 0;
    width: 100%;
}

.contianer h1 {
  margin: 0;
  /* margin-bottom: 10px; */
  padding: 0;
  width: 100%;
}

.contianer h1 input{
  margin: 0;
  padding: 0;
  width: 100%;
}

  .box{
    box-shadow: 3px 3px 15px 0px rgb(177, 177, 177);
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    /* padding: 1.2em 1.8em; */
    border-radius: 10px;
  }


  /* .box{
    background-color: rgb(224, 224, 224);
    box-shadow: 3px 3px 10px 0px grey;
    width: 90%;
    margin-bottom: 50px;
    padding: 1.2em 1.8em;
    border-radius: 10px;
  }
  
  .box h2 {
    font-size: 36px;
    font-weight: 500;
    color: rgb(255, 19, 117);
  }
  
  .box p{
    font-size: 24px;
  }
  
  .box form{
    padding: 1.2em;
  }
  
  .box input,textarea{
    font-size: 24px;
    font-family: "thaisans";
    width: 100%;
    outline: none;
    padding: 5px;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid rgb(177, 177, 177);
  }
  
  .box button {
    font-size: 24px;
    margin: 20px 0;
    border-radius: 5px;
    font-weight: 500;
    padding: 0.2em;
    width: 25%;
  }
  
  .box button:hover {
    background-color: rgb(236, 12, 105);
    color: rgb(199, 199, 199);
    transition: 0.2s;
  }
  
  .box button:active {
    background-color: rgb(206, 10, 92);
    color: rgb(199, 199, 199);
    transition: 0.2s;
  } */
  

}

@media (max-width:600px){
    * {
      margin: 0;
      padding: 0;
    }

    .contianer{
      height: 0 ;
      margin: 0;
  }

    .logo a,.dropbtn {
        font-size: 24px;
    }

    h1 {
        margin: 0;
        width: 100%;
    }

    h1 input {
        margin: 0;
        font-size: 1.5rem;
        height: auto;
    }

    .by input {
       font-size: 1rem;
    }
    /* .contianer {
        width: 100%;
    } */

    .box {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-top: 0;
      padding-top: 0;
      background-color: white;
      box-shadow: none;
    }
    
    #form{
      padding: 0;
    }

    textarea{
        width: 100% !important;
        border: none;
        height: 100%;
        margin-bottom: 100%;
    }

    textarea #contian{
      width: 100% !important;
      padding: 0;
      /* margin: 0; */
  }

    .titleF {
      display: none;
    }

    .box2 {
      position: fixed;
      padding: 1rem;
      bottom: 0;
      left: 1;
      right: 1;
      width: 90%;
      box-shadow: 3px 3px 15px 0px rgb(177, 177, 177);
      background-color: white;
      margin-bottom: 1rem;
    }

    .box2 p {
      font-size: 1rem;
    }


    /* .contian {
        padding: 0.8em;
        width: 100%;
    }

    .contianer h1 {
        font-size: 72px;
    }
  .dropdown-profile {
    top: 60px;
  }

  .contianer .card a {
    font-size: 36px;
  }

  .contianer .card p {
    font-size: 28px;
  }

  .check{
    top:120px;
    right: 50px;
  }
  
  .box{
    background-color: rgb(224, 224, 224);
    box-shadow: 3px 3px 10px 0px grey;
    width: 90%;
    margin-bottom: 50px;
    padding: 1.2em;
    border-radius: 10px;
  }
  
  .box h2 {
    font-size: 36px;
    font-weight: 500;
    color: rgb(255, 19, 117);
  }
  
  .box p{
    font-size: 18px;
  }
  
  .box form{
    padding: 1.2em;
  }
  
  .box input,textarea{
    font-size: 18px;
    font-family: "thaisans";
    width: 100%;
    outline: none;
    padding: 5px;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid rgb(177, 177, 177);
  }
  
  
  .box button {
    font-size: 18px;
    margin: 20px 0;
    border-radius: 5px;
    font-weight: 500;
    padding: 0.2em;
    width: 25%;
  } */
  
}

